{% extends 'base.html.twig' %}

{% block title %}Organismo 
{% endblock %}

{% block headerBreadcrumb %}
<li class="breadcrumb-item"><a href='index.html'><i class="feather icon-home"></i></a></li>
<li class="breadcrumb-item"><a>Organismos</a></li>
{% endblock headerBreadcrumb %}

{% block body %}

     <h1>Organismo</h1>
    <div class="card">
    <div class="card-body">
        <h5><i class="feather icon-package"></i> Listado de Organismos</h5>
        <hr />
        <div class="card-body table-border-style">
            <div class="table-responsive">
				<table class="table nowrap">
			
                <th>Id</th>
                <th>Nombre</th>
                <th>Domicilio</th>
                <th>Telefono</th>
                <th>actions</th>
           
        <tbody>
        {% for organismo in organismos %}
            <tr>
                <td>{{ organismo.id }}</td>
                <td>{{ organismo.Nombre }}</td>
                <td>{{ organismo.Domicilio }}</td>
                <td>{{ organismo.Telefono }}</td>
                <td>
                    <a href="{{ path('app_organismo_show', {'id': organismo.id}) }}" class="btn btn-primary btn-descargar">show</a>
                    <a href="{{ path('app_organismo_edit', {'id': organismo.id}) }}" class="btn btn-primary btn-descargar">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_organismo_new') }}" class="btn btn-primary btn-descargar">Crear Usuario</a>
             

            </div>
        </div>
    </div>
</div>
{% endblock %}





